body{
    background-color: ghostwhite;
}

h1{
    font-size: 50px;
    font-weight:lighter;
}

.check_left{
    float:left;
    width:40%;
    padding-left: 15px;
    height: 100%;
}

.subtotal{
    padding-top: 80px;
    float:left;
    width:55%;
    height: 100%;
    padding-left: 15px;
    text-align: center;
}

.subtotal > p{
    font-size: 30px;
    padding-bottom: 20px;
}

.subtotal > button{
    background-color: #F8982D;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
}

.confirm_btn{
    text-decoration: none;
    color:white;
}