.checkout{
    display: flex;
    flex-direction: column;
    background-color:ghostwhite;
    padding: 15px;
}
.product_img{
    object-fit: contain;
    height:100px;
    float:left;
    width:40%;
}

.product_info{
    float:left;
}

.product_info > button{
    background-color: #F8982D;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
}
