.heading{
    padding-top: 20px;
}

.shipping_details{
    padding-left: 20px;
}

.shipping_details > h3{
    font-size: 30px;
}

.payment_details{
    padding-left: 20px;
    padding-bottom: 20px;
}

.payment_details > h3{
    font-size: 30px;
}

.shipping_details > textarea{
    width: 300px;
    height: 150px;
}

.shipping_details > input{
    width: 300px;
}

.order_btn{
    text-decoration: none;
    color:white;
}

.payment_details > button{
    width:200px;
    height:32px;
    font-size: 17px;
    background-color: darkslategray;
    color:white;
    border-radius: 25px;
    cursor: pointer;
}

.payment_details > label{
    font-size: 20px;
}