.header {
    height: 100px;
    width:100%;
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
  }

  .img-logo{
    float: left;

  }
  
  /* .searchbar-container{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }

  .searchbar{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  .searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 15px;
  }
  
  .searchIcon {
    padding: 5px;
    height: 22px !important;
    color: white;
    background-color: black;
    border-radius: 15px;
  } */

  .lineOne {
    font-size: 12px;
    font-weight: 400;
  }
  
  .lineTwo {
    font-size: 13px;
    font-weight: 600;
  }
  
  .Basket {
    display: flex;
    align-items: center;
    color: black;
  }
  
  .basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .navbar {
    margin-left: 950px;
    display: flex;
    justify-content: space-evenly;
    float: right;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
  }