.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1;
    padding: 25px;
}

.product > img{
    width: 100%;
    max-height: 100px;
    object-fit:contain; 
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.product > button{
    background-color: #F8982D;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
}

.product_inf{
    height:100px;
    width:98%;
}
.product_rating{ 
    display: flex;
}

.product_desc{
    text-decoration: none;
    color:black;
}

.product_link{
    text-decoration: none;
    color: white;
}