.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1;
    padding: 25px;
    /* position:absolute; */
}

.product > img{
    max-height: 100px;
    width: 100%;
    object-fit:contain;
    margin-bottom: 15px;
}

.product > button{
    background-color: #F8982D;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
}

.product_info{
    height: 100px;
}

.product_rating{
    display: flex;
}

.desc{
    display: none;
}
/* 
.product:hover + .desc{
    display:flex;
    z-index: 100;
} */